p, li{
  background: black;
  color: blueviolet;
}

header p{
    background: red;
    color: black;
}

h1{
  color: brown;
  background: goldenrod;
}

section > p{
  background: red;
  color: black;
}

h2 ~ li{
  background: blueviolet;
  color: black;
}